.item {
	position: relative;
	width: 65%;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;
	background-color: var(--white);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding-right: 30px;
	height: 160px;
}

.iconWrapper {
	left: -60px;
	height: 116px;
	max-width: 130px;
	aspect-ratio: 1;	
	position: absolute;
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--orange);
}

.icon {
	width: 70%;
	height: auto;
	transform: rotate(-45deg);
}

.info {
	text-align: end;
	padding-right: 14px;
	padding-left: 50px;
	width: 100%;
	justify-content: center;
	letter-spacing: 3px;
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	gap: 5px;
	height: 160px;
}

.name {
	font-size: 28px;
	color: black;
}

.projects {
	font-size: 18px;
	color: var(--orange);
	font-weight: 100;
}