.stat {
	padding: 0px 12px;
	width: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 50px;
	background: linear-gradient(#ED801B, #F44C28);
}

.name {
	font-size: 13px;
	text-align: left;
	color: var(--bg);
}

.value {
	font-size: 20px;
	text-align: right;
	color: var(--white);
}

@media (orientation: landscape) {
	.stat {
		padding: 0px 15px;
	}

	.name {
		font-size: 18px;
	}

	.value {
		font-size: 25px;	
	}
}