.button {
	background-color: var(--bg);
	z-index: 1;
	background-size: cover;
	width: 90%;
	padding: 10px 0px;
	border-radius: 12px;
	color: var(--white);
	font-size: 24px;
	box-shadow: 0px 10px 4px hsla(0, 0%, 0%, 0.329);
	margin: 10px 0px;
	cursor: pointer;
}